/*
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
Version: 4.3.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v4.3/admin/
*/

.header .navbar-logo,
.label.label-theme,
.btn.btn-scroll-to-top,
.header.navbar-inverse,
.sidebar .nav > li.active > a, 
.sidebar .nav > li.active > a:hover, 
.sidebar .nav > li.active > a:focus {
	background: #7b2cff;
}
.text-theme,
.float-sub-menu li > a:hover, 
.float-sub-menu li > a:focus, 
.float-sub-menu li.active > a, 
.float-sub-menu li.active > a:hover, 
.float-sub-menu li.active > a:focus,
.sidebar .sub-menu > li > a:hover, 
.sidebar .sub-menu > li > a:focus, 
.sidebar .sub-menu > li.active > a, 
.sidebar .sub-menu > li.active > a:hover, 
.sidebar .sub-menu > li.active > a:focus,
.header.navbar-default .navbar-brand i {
	color: #7b2cff;
}
.float-sub-menu li.active:after {
	border-color: #7b2cff;
}
.header.navbar-inverse .navbar-brand {
	color: #fff !important;
}
.sidebar .label.label-theme,
.top-menu .label.label-theme {
	background: #ffd900;
	color: #000;
}
.sidebar .text-theme,
.top-menu .text-theme {
	color: #ffd900;
}
.header .navbar-nav > li > a .label {
	background: #ffd900 !important;
	color: #000 !important;
}
.pace-progress {
	background: #000;
}
.pace .pace-activity {
	border-top-color: #000;
	border-left-color: #000;
}

/* added */
.btn.btn-primary, .btn.btn-primary.disabled, .btn.btn-primary.disabled:focus, .btn.btn-primary.disabled:hover, .btn.btn-primary[disabled], .btn.btn-primary[disabled]:focus, .btn.btn-primary[disabled]:hover {
	background-color : #7b2cff;
	border-color : #7b2cff;
	color: #fff; 
}

.text-primary {
	color: #7b2cff !important; 
}

a.text-primary:focus, a.text-primary:hover {
	color: #9356FF !important; 
}

.btn-primary.active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.btn-primary, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover, .show > .btn-primary.dropdown-toggle {
	background-color: #9356FF !important; 
	border-color: #9356FF !important; 
}

.widget-stats .stats-progress .progress-bar {
	background-color : #7b2cff !important;
}

.graph-loader {
	border: 16px solid #7b2cff;
	border-top: 16px solid #fff;
}

.border-primary {
	border-color: #7b2cff !important; 
}
