#header, .modal-backdrop {
	z-index:1100;
}

.modal {
	z-index:1500;
}

.select2-container--open {
	z-index:1600 !important;
} 

.teardrop {
  background-color: rgba(0,0,255,0.25);
  display: block;
  width: 150px;
  padding:20px 20px 20px 20px;
  height: 150px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  position: relative;
  cursor: pointer;
}

.teardrop span.firsttext {
  width: 100%;
  height:100%;
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: white;
  background-color: rgba(0,0,0,0.25);
  border-radius:70px;
  line-height:35px;
}
/*
.led-light-circle {
	background-color: skyblue;
	border-radius:100%;
	width:250px;
	height:250px;
} 

.led-light {
  background-color:black;
  border-radius: 25px;
  width:100px;
  padding:2px 0;
  position:relative;
  left:30%;
  top:16%;
} 

.led-light div {   
  position: relative;
  left: 25%;
  width:50px;
  height:50px;
  margin: 5px 0;
  background-color: grey;
  vertical-align: middle;
  border-radius: 100%;
  display: block;
}

.red {
	background-color: red !important;
}

.yellow {
	background-color: yellow !important;
}

.green {
	background-color: green !important;
}*/

.active-title {
	font-weight: 600;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  min-width:300px; 
}

.select-add {
    height: 34px !important;
    padding-top: 8px;
}

.select-add option {
    padding: 2px 10px;
    display: inline;
    margin: 2px;
    border:1px solid #fff;   
}
.select-add option :selected {
    background:#ffb07b;
}

.select2-container{
    z-index:1050;
}
 
.redStatus {
	/*background-color: #ff0000;*/
	background-color: #F60100;
	opacity:0.25;
	/*box-shadow : 0 3px 3px rgba(255,0,0,0.2),0 1px 2px rgba(255,0,0,0.2);*/
	box-shadow : 0 3px 3px rgba(255,0,0,0.2),0 1px 2px rgba(255,0,0,0.2);
}

.yellowStatus {
	background-color: #FFCF00;
	/*background-color: #ffff00;*/
	opacity:0.25;
	box-shadow : 0 3px 3px rgba(255,255,0,0.2),0 1px 2px rgba(255,255,0,0.2);
	/*box-shadow : 0 3px 3px rgba(255,255,0,0.2),0 1px 2px rgba(255,255,0,0.2);*/
}

.greenStatus {
	/*background-color: #00ff00;*/
	background-color: #76BA1B;
	opacity:0.25;
	/*box-shadow : 0 3px 3px rgba(0,255,0,0.2),0 1px 2px rgba(0,255,0,0.2);*/
	box-shadow : 0 3px 3px rgba(0,255,0,0.2),0 1px 2px rgba(0,255,0,0.2);
}

.whiteStatus {
	/*background-color: #ffffff;*/
	background-color: #0000ff; 
	opacity:0.25;
	box-shadow : 0 3px 3px rgba(0,0,255,0.2),0 1px 2px rgba(0,0,255,0.2);
}

.blueStatus {
	background-color: #0000ff;
	opacity:0.25;
	box-shadow : 0 3px 3px rgba(0,0,255,0.2),0 1px 2px rgba(0,0,255,0.2);
}

.graphBlock {
	height:15px;
	width:7px;
	
}

.graphBlockOuter {
	display:grid;
	float:left;
	padding-top:5px;
}

.card-text-graph {
	height:70px; 
}
/*
.gallery-option-set a.active, .gallery-option-set a:hover {
    background: rgba(0,0,0,.5) !important;
}
*/
.ui-autocomplete { cursor: default;z-index:100000 !important;}  


.card-text {
	font-weight:bold;
	border-radius: 5px;
	padding: 10px;
}
.overview_notification {
  border: 1px solid rgba(255,255,255,0.2);
  padding: 5px;
  margin: 5px 0;
}
.fa-widget-center {
	font-size:60px;
	position:relative;
	top:10px;
} 
.fa.add-new-icon {
	font-size:160px;
	padding-top:40px; 
}

.custom-class {
	height: 100px;
}
.thumbnail.custom-class {
	height:110px; 
}
ul.thumbnails.image_picker_selector li .thumbnail {
	padding:5px;
	border:none;
}
ul.thumbnails.image_picker_selector {
	padding:0 5px;
} 
.custom-class-colors { 
	height: 40px;
	border-radius:5px;
}
.thumbnail.custom-class-colors {
	height:40px;
	opacity:0.65; 
	box-shadow:0 3px 3px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2); 
} 
ul.thumbnails.image_picker_selector li.custom-class-colors .thumbnail {
	padding:0px;
	border:none;
} 
.custom-class-colors.selected, .custom-class-colors.selected img {  
	/*background: url(<?php echo base_url(); ?>assets/img/color/selected.png) 0 0 no-repeat !important;*/
	transition: .5s ease;
	opacity:1;
}
.custom-class-colors.selected::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";  
  font-size:20px;
  padding: 6px 0 0 10px;
  position:absolute;
  color:#000;  
}

.card #add-new-text {
	font-weight:bold;
	position:absolute;
	top:46.5%;
	left:36%;
	text-decoration:none;
	display:none;
}

.card:hover #add-new-text {
	display:block;
} 

.widget-list-item > * {
	color:#000; 
}

.toggleTheme {
	display: none;
}

.toggleTheme.active{
	display: block;
}

.card {
	min-height:240px;
}

.card-content {
	min-height:175px;
}

.card-action {
	position: absolute;
	right: 15px;
	bottom: 0;
}

.card-top-right {
	position: absolute;
	right: 15px;
	top: 15px;
}

.card-light{
	opacity:1;
	width:50px;
	border-radius:5px;
	padding:5px; 
}

.content {
	padding:0px 30px; 
}

a,
.breadcrumb > li a,
.header .navbar-brand > b {
	font-weight:600; 
}
a:hover,
a:focus,
.breadcrumb > li a:hover,
.breadcrumb > li a:focus {
	text-decoration:none;
}

.text-black {
	color: #000000;
}

.text-white {
	color: #ffffff;
}

.sidebar .nav > li.nav-header {
	padding: 0;
} 

.dataTables_filter {
	text-align: right;
}

.dataTables_processing {
	padding:10px;
	text-align:center;
}

.modal-title {
	font-weight:600;
}

.modal-dialog {
    z-index: 1200 !important;
}

.nav {
	display:inline-flex;
}

.theme-panel.theme-panel-lg .theme-panel-content {
	overflow:auto;
}
.theme-panel.theme-panel-lg {
	top:50px;
	height:125px;
} 
.theme-panel {
	z-index:1700; 
} 
.page-header {
	margin : 10px 0 15px;
}

/* filter */

.filter-panel {
	position : absolute;
	z-index:1000;
}

.filter-panel-expand {
	border-radius:0;
	left:73%;
}

.filter-panel-collapse {
	border-radius:0;
}

.filter-panel-content {
	left:50%;
	width:46%;
	border-radius:0 0 5px 5px;
	padding:10px;
	box-shadow:0 5px 5px rgba(0,0,0,0.5),0 1px 2px rgba(0,0,0,0.5); 
} 

.graph-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #000;
  border-radius: 50%;
  border-top: 16px solid #fff;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* filter */ 

.paginate_button, .paginate_input {
  border: 1px solid;
  padding: 2px;
  border-radius: 2px;
  margin: 5px;
  text-align:center;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice {
	color:#fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
/*	background:#002060 !important;*/
	background:#3786c9 !important;
}

.card-bottom-middle {
	position: absolute;
	right: 34%;
	bottom: 10px;
	display: inline-flex;
}

.card-bottom-middle-three-button {
	position: absolute;
	right: 24%;
	bottom: 10px;
	display: inline-flex;
}

.card-bottom-middle-single-button {
	position: absolute;
	right: 43%;
	bottom: 10px;
	display: inline-flex;
}

.bettery_per
{
	color: #b4c640;
	top: 10px;
}

.bettery_per i
{
	font-size: 30px;
}

.bettery_per:hover
{
	color: #b4c640 !important;
}

.bettery_per_span
{
	font-size: 9px;
	float: right;
	margin-top: 5px;
	margin-right: 7px;
	color: #b4c640;
}

.btn_icon_size i
{
	font-size : 14px !important;
}

.online_offline
{
	position:relative;
	top: 4px;
	left: -15px;
	font-size: 7px;
	color:lime;
}

.sidebar .has-sub.active > .sub-menu {
	border:1px solid #b4c640;
}

.sidebar .sub-menu > li > a {
	color:#ffffff;
}

.hover-three:hover .hover-widget 
{
	border: 5px solid #3786c9 !important;
}

.hover-widget-single:hover 
{
	border: 5px solid #3786c9 !important;
}


.batteryContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 2px;
}

.batteryOuter {
  border-radius: 3px;
  border: 1px solid #444;
  padding: 1px;
  width: 25px;
  height: 13px;
}

.batteryBump {
  border-radius: 2px;
  background-color: #444;
  margin-left: 1px;
  width: 1px;
  height: 3px;
}

.batteryLevel {
  border-radius: 2px;
  
  height: 9px;
}


.card-inactive{
	opacity : 0.25;
	pointer-events:none;
}

 .text-inactive{
  position: absolute;
  top: 45%;
  font-size: 20px;
  text-align: center;
  font-weight:bold;
}

.ChargeFlag
{
	font-size:10px !important;
	position: absolute;
	top: 12px;
	left: -8px;
	color: #b4c640;
}