/*
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
Version: 4.2.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v4.2/admin/
*/

.header .navbar-nav > li > a .label,
.label.label-theme,
.btn.btn-scroll-to-top {
	background: #ff7b01;
}
.header.navbar-inverse .navbar-brand {
	color: #fff !important;
}
.text-theme {
	color: #ff7b01;
}
/*
a,
.breadcrumb > li a,
.header .navbar-brand > b {
	font-weight:600; 
}
a:hover,
a:focus,
.breadcrumb > li a:hover,
.breadcrumb > li a:focus {
	text-decoration:none;
}
*/
.header .navbar-logo:before {
	border-color: rgba(255, 176, 123, 0.75);
}
.header .navbar-brand .navbar-logo:after {
	background: #ffb07b;
}
.header .navbar-logo {
	border-color: rgba(255, 176, 123, 0.5);
}


/* Added in v1.5 */

.gradient-enabled .sidebar .nav > li.active > a, 
.gradient-enabled .sidebar .nav > li.active > a:focus, 
.gradient-enabled .sidebar .nav > li.active > a:hover,
.gradient-enabled .header .navbar-nav > li > a .label,
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.gradient-enabled .label.label-theme,
.gradient-enabled .btn.btn-scroll-to-top,
.gradient-enabled .top-menu .nav > li.active > a, 
.gradient-enabled .top-menu .nav > li.active > a:focus, 
.gradient-enabled .top-menu .nav > li.active > a:hover {
	color: #fff !important;
	background: rgb(255,156,65) !important;
	background: -moz-linear-gradient(top, rgba(255,156,65,1) 0%, rgba(191,92,1,1) 100%) !important;
	background: -webkit-linear-gradient(top, rgba(255,156,65,1) 0%,rgba(191,92,1,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(255,156,65,1) 0%,rgba(191,92,1,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c41', endColorstr='#bf5c01',GradientType=0 ) !important;
}
.gradient-enabled .sidebar .nav > li.active > a {
	z-index: 10;
}
.pace-progress {
	background: #ff7b01;
}
.pace .pace-activity {
	border-top-color: #ff7b01;
	border-left-color: #ff7b01;
}

.page-cover::before {
	/*background:rgba(255,255,255,0.7);*/
	background:#aeaeae;
	opacity:1;
}

.page-cover { 
	  /*background-image:url(../images/page-cover.jpg);
	  filter:grayscale(100%); */
	  /*background-image: radial-gradient(#000000 20%, transparent 20%),
      radial-gradient(#000000 20%, transparent 20%);
	  background-color: #333;
	  background-position: 0 0, 3px 3px;
	  background-size: 6px 6px;
	  background-repeat:repeat;*/
}

.header.navbar-default .brand, .header.navbar-default .navbar-brand, .header.navbar-default .navbar-nav .open .dropdown-menu > li > a, .header.navbar-default .navbar-nav > li .dropdown-toggle, .header.navbar-default .navbar-nav > li > a, .header.navbar-inverse .navbar-brand, .header.navbar-inverse .navbar-nav > li .dropdown-toggle, .header.navbar-inverse .navbar-nav > li > a{
	color: #095696;
}

.sidebar .nav > li.active > a, .sidebar .nav > li.active > a:focus, .sidebar .nav > li.active > a:hover{
	color: #000000;
	background:rgba(0,0,0,.5); 
}

.sidebar .nav > li > a{
	color:rgba(0,0,0,.65); 
}

.sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover {
	color: #000000;
}

.sidebar .nav > li.nav-header{
	color:rgba(0,0,0,.5);
}

.sidebar .nav > li.nav-profile {
	color: #000000;
}

.sidebar .nav > li.nav-profile .info small {
	color:rgba(0,0,0,.75);
}

.sidebar .nav > li.active > a i {
	color: #000000;
}

.sidebar .sub-menu > li.active > a, .sidebar .sub-menu > li.active > a:focus, .sidebar .sub-menu > li.active > a:hover, .sidebar .sub-menu > li > a:focus, .sidebar .sub-menu > li > a:hover {
	color: #000000;
}

.page-header {
	color: #000000;
}

.sidebar .sub-menu > li > a {
	color:rgba(0,0,0,.5);
}

.card {
	/*background-color:rgba(115,115,115,.8);*/
	background-color:rgba(255,255,255,.9);
	/*border:1px solid #000;*/
	box-shadow : 0 1px 10px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.1);
}

.card #add-new-text {
	color: #737373;
	opacity:1;
}

.modal-content {
	background-color:#fff;
}

.modal-backdrop {
   background-color: rgba(50,50,50,0.75);
}

.widget-list-item, a.widget-list-item {
	background-color: rgba(115,115,115,.8);
}

#toggleTheme1 {
	background-color:rgba(0,0,0,.5);  
}

.bg-orange-widget {
	background-color : #fff; /*ffb07b*/ 
	box-shadow : 0 1px 10px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.1);
}

.widget-stats .stats-desc, .widget-stats .stats-title {
	color : #737373;
}

.widget.widget-stats {
	color : #737373;
}

.widget-emoji {
	color : #c36e00;
}

.widget-stats .stats-progress .progress-bar {
	background : #c36e00;
}

.widget-stats .stats-progress {
	background : rgba(255,255,255,.25);
}

.fa.add-new-icon {
	opacity:0.25;
	color:#ffb07b;
}

.modal {
	/*color : rgba(255,255,255,.6);*/
}

.btn.btn-default, .btn.btn-default.disabled, .btn.btn-default.disabled:focus, .btn.btn-default.disabled:hover, .btn.btn-default[disabled], .btn.btn-default[disabled]:focus, .btn.btn-default[disabled]:hover {
	background : rgba(255,255,255,.15);
	color:#000;
}

.tab-content {
	background : rgba(255,255,255,.9);
	/*border:1px solid #000;*/
	box-shadow:0 1px 10px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.1); 
}

label {
	color : rgba(0,0,0,.75);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color : #000 !important;
}

.select2-container {
	/*border:1px solid #000;*/
	box-shadow:0 1px 10px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.1); 
	border-radius:5px; 
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color:#000 transparent transparent !important;
}

.btn-default.active, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .btn-default:focus, .btn-default:hover, .btn-default:not(:disabled):not(.disabled).active, .btn-default:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .show > .btn-default.dropdown-toggle {
	background :rgba(255,255,255,.75);
	color:#000;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	border-color: rgba(0,0,0,.15) !important;
}

.table thead th, .table > thead > tr > th {
	color:#000;
}

table {
	color:#000;
}

.panel-body {
	color:#000;
}

.form-control, .form-control:focus {
	color:#000;
	/*border:1px solid #000;*/
	box-shadow:0 1px 10px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.1); 
	/*background:rgba(255,255,255,.75);*/
}

.pagination > li > a {
	color:rgba(0,0,0,0.5) !important;
	background:rgba(255,255,255,.75);
}

.panel-body {
	background : rgba(255,255,255,.9);
	border:1px solid #000; 
}

.form-control::placeholder {
	color:#000;
}

.custom-class-colors {
	border: 1px solid #000;
}

.dataTables_filter input {
	margin-left:5px;
}

.card-light{
	background-color:#ffffff;
	/*border:1px solid #000000;*/
	box-shadow : 0 1px 10px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.1);
}

.card-text {
	background-color: rgb(255,255,255,.60);
	/*border:1px solid #000;*/
	box-shadow : 0 1px 10px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.1);
	color:#000;
}

.nav-pills > li > a.active, .nav-pills > li > a.active:focus, .nav-pills > li > a.active:hover,
.nav-pills .nav-link.active, .nav-pills .show > .nav-link, .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background:#fff;
	color:#000;
}

.nav-pills .nav-link:focus, .nav-pills .nav-link:hover, .nav-pills > li > a:focus, .nav-pills > li > a:hover {
	background:rgba(255,255,255,.75);
	color:#000;
}

.nav-pills .nav-link {
	background:rgba(255,255,255,.25);
	color:#000;
}