/*
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
Version: 4.2.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v4.2/admin/
*/

.header .navbar-nav > li > a .label,
.label.label-theme,
.btn.btn-scroll-to-top {
	background: #ff7b01;
}
.header.navbar-inverse .navbar-brand {
	color: #fff !important;
}
.text-theme {
	color: #ff7b01;
}
/*
a,
.breadcrumb > li a,
.header .navbar-brand > b {
	color: #ffb07b;
}
a:hover,
a:focus,
.breadcrumb > li a:hover,
.breadcrumb > li a:focus {
	color: #fbcdad;
}
*/
.header .navbar-logo:before {
	border-color: rgba(255, 176, 123, 0.75);
}
.header .navbar-brand .navbar-logo:after {
	background: #ffb07b;
}
.header .navbar-logo {
	border-color: rgba(255, 176, 123, 0.5);
}


/* Added in v1.5 */

.gradient-enabled .sidebar .nav > li.active > a, 
.gradient-enabled .sidebar .nav > li.active > a:focus, 
.gradient-enabled .sidebar .nav > li.active > a:hover,
.gradient-enabled .header .navbar-nav > li > a .label,
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.gradient-enabled .label.label-theme,
.gradient-enabled .btn.btn-scroll-to-top,
.gradient-enabled .top-menu .nav > li.active > a, 
.gradient-enabled .top-menu .nav > li.active > a:focus, 
.gradient-enabled .top-menu .nav > li.active > a:hover {
	color: #fff !important;
	background: rgb(255,156,65) !important;
	background: -moz-linear-gradient(top, rgba(255,156,65,1) 0%, rgba(191,92,1,1) 100%) !important;
	background: -webkit-linear-gradient(top, rgba(255,156,65,1) 0%,rgba(191,92,1,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(255,156,65,1) 0%,rgba(191,92,1,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c41', endColorstr='#bf5c01',GradientType=0 ) !important;
}
.gradient-enabled .sidebar .nav > li.active > a {
	z-index: 10;
}
.pace-progress {
	background: #ff7b01;
}
.pace .pace-activity {
	border-top-color: #ff7b01;
	border-left-color: #ff7b01;
}

.page-cover::before {
	background:rgba(0,0,0,0.3);
	opacity:1;
}
.page-cover {
	background-image:url(../images/page-cover.jpg);
	opacity:0.1;
}

.header.navbar-default .brand, .header.navbar-default .navbar-brand, .header.navbar-default .navbar-nav .open .dropdown-menu > li > a, .header.navbar-default .navbar-nav > li .dropdown-toggle, .header.navbar-default .navbar-nav > li > a, .header.navbar-inverse .navbar-brand, .header.navbar-inverse .navbar-nav > li .dropdown-toggle, .header.navbar-inverse .navbar-nav > li > a{
	color: #fff;
}

.sidebar .nav > li.active > a, .sidebar .nav > li.active > a:focus, .sidebar .nav > li.active > a:hover{
	color: #fff;
	background:rgba(255,255,255,.5);
}

.sidebar .nav > li > a{
	color:rgba(255,255,255,.65);
}

.sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover {
	color: #fff;
}

.sidebar .nav > li.nav-header{
	color:rgba(255,255,255,.5);
}

.sidebar .nav > li.nav-profile {
	color: #fff;
}

.sidebar .nav > li.nav-profile .info small {
	color:rgba(255,255,255,.75);
}

.sidebar .nav > li.active > a i {
	color: #fff;
}

.sidebar .sub-menu > li.active > a, .sidebar .sub-menu > li.active > a:focus, .sidebar .sub-menu > li.active > a:hover, .sidebar .sub-menu > li > a:focus, .sidebar .sub-menu > li > a:hover {
	color: #095696;
}

.page-header {
	color: #fff;
}

.sidebar .sub-menu > li > a {
	color:rgba(255,255,255,.5);
}

.card {
	background-color:rgba(0,0,0,.70);
}

.card #add-new-text {
	color: #fff;
	opacity:0.25;
}

.modal-content {
	background-color:#000000;
}

.modal-backdrop {
   background-color: rgba(0,0,0,0.75);
}

.widget-list-item, a.widget-list-item {
	background-color: rgba(255,255,255,.25);
}

.bg-orange-widget {
	background-color: rgba(0,0,0,.60);
}

.widget-stats .stats-desc, .widget-stats .stats-title {
	color : rgba(255,255,255,.7);
}

.widget.widget-stats {
	color : #ffffff;
}

.widget-emoji {
	color : rgba(255,255,255,.7);
}

.widget-stats .stats-progress .progress-bar {
	background : #fff;
}

.widget-stats .stats-progress {
	background : rgba(0,0,0,.5);
}

.fa.add-new-icon {
	opacity:0.25;
}

.modal {
	color : #ffffff;
}
/*
.btn.btn-default, .btn.btn-default.disabled, .btn.btn-default.disabled:focus, .btn.btn-default.disabled:hover, .btn.btn-default[disabled], .btn.btn-default[disabled]:focus, .btn.btn-default[disabled]:hover {
	background : rgba(0,0,0,.25); 
}
*/
.tab-content {
	background : rgba(0,0,0,.5); 
}

.nav.nav-tabs > li.active > a, .nav.nav-tabs > li.active > a:focus, .nav.nav-tabs > li.active > a:hover, .nav.nav-tabs > li > a.active, .nav.nav-tabs > li > a.active:focus, .nav.nav-tabs > li > a.active:hover {
	background : rgba(0,0,0,.5); 
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	background : rgba(0,0,0,.5); 
}

.gallery-option-set a.active, .gallery-option-set a:hover {
    background: rgba(0,0,0,.55) !important;
}

.card-light{
	background-color:#000000;
	border:1px solid #000000;
}

.card-text {
	background-color: rgb(0, 0, 0,.60);
	border:1px solid rgb(0, 0, 0,.60); 
}

.modal-title {
	color: #fff !important;
}

.text-primary {
	color:#c36e00 !important;
}

a.text-primary:focus, a.text-primary:hover {
	color:#fb8f02 !important; 
}

.btn.btn-primary, .btn.btn-primary.disabled, .btn.btn-primary.disabled:focus, .btn.btn-primary.disabled:hover, .btn.btn-primary[disabled], .btn.btn-primary[disabled]:focus, .btn.btn-primary[disabled]:hover {
	background-color:#c36e00;
}

.btn-primary.active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.btn-primary, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover, .show > .btn-primary.dropdown-toggle {
	background-color:#fb8f02; 
}

.inverse-mode .widget-list-item, .inverse-mode a.widget-list-item, .inverse-mode.widget-list-item, a.inverse-mode.widget-list-item {
	background-color: rgba(0,0,0,.25);
}
